.passwordsMainDark {
    background-color: var(--background-color);
    .mainContent {
        .main {
            display: grid;
            grid-template-columns: 30% 70%;
        }
    }
}

.passwordsMainLight {
    background-color: var(--text-color);
    .mainContent {
        .main {
            display: grid;
            grid-template-columns: 30% 70%;
        }
    }
}

@media(max-width: 768px) {
    .passwordsMainDark {
        background-color: var(--background-color);
        .mainContent {
            .main {
                display: grid;
                grid-template-columns: repeat(1, max-content);
            }
        }
    }

    .passwordsMainLight {
        background-color: var(--text-color);
        .mainContent {
            .main {
                display: grid;
                grid-template-columns: repeat(1, max-content);
            }
        }
    }
}
