.loginForm {
    width: 400px;
    height: 72vh;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    text-align: center;
    .loginTitle {
        margin-top: 10%;
        text-align: center;
        p {
            font-size: 30px;
        }
    }
    .loginInput {
        margin-top: 5%;
        display: grid;
        justify-items: center;
        .marker {
            width: 60%;
            text-align: left;
            p {
                font-size: 20px;
            }
        }
        input {
            width: 60%;
            height: 3.5vh;
            border-radius: 10px;
            border: none;
        }
    }
    .loginButton {
        margin-top: 15%;
        button {
            width: 61%;
            height: 4.5vh;
            border: none;
            border-radius: 10px;
            background: var(--text-color);
            font-size: 20px;
            color: black;
            transition: 0.4s;
        }
        button:hover {
            scale: 1.05;
            color: white;
            background: var(--hover-color);
        }
    }
    .linkToRegistration {
        margin-top: 10%;
        .title {
            p {
                font-size: 20px;
            }
        }
        .link {
            p {
                font-size: 25px;
                transition: 0.5s;
            }
            p:hover {
                text-decoration: underline;
            }
        }
    }
}

@media(max-width: 768px) {
    .loginForm {
        width: 90%;
        height: 72vh;
        border: 2px solid black;
        border-radius: 10px;
        text-align: center;

        .loginTitle {
            margin-top: 10%;
            text-align: center;
            p {
                font-size: 30px;
            }
        }
        .loginInput {
            margin-top: 5%;
            display: grid;
            justify-items: center;
            .marker {
                width: 60%;
                text-align: left;
                p {
                    font-size: 20px;
                }
            }
            input {
                width: 60%;
                height: 3.5vh;
                border-radius: 10px;
                border: 2px solid black;
            }
        }
        .loginButton {
            margin-top: 15%;
            button {
                width: 61%;
                height: 4.5vh;
                border: none;
                border-radius: 10px;
                background: #4e4a4a;
                font-size: 20px;
                color: white;
                transition: 0.4s;
            }
            button:hover {
                scale: 1.05;
                background: #232121;
            }
        }
        .linkToRegistration {
            margin-top: 10%;
            .title {
                p {
                    font-size: 20px;
                }
            }
            .link {
                p {
                    font-size: 25px;
                    transition: 0.5s;
                }
                p:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
