.passwordListCartDark {
    .password {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        height: 140px;
        background-color: var(--background-color);
        transition: var(--transition);
        border-bottom: 2px solid var(--text-color);
        p  {
            margin: 20px;
            font-size: 40px;
        }
    }
    .password:hover {
        background-color: #76787a;
    }
    .currentPassword {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        height: 140px;
        transition: var(--transition);
        background-color: #76787a;
        border-bottom: 2px solid var(--text-color);
        p  {
            margin: 20px;
            font-size: 40px;
        }
    }
}

.passwordListCartLight {
    .password {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        height: 140px;
        transition: var(--transition);
        border-bottom: 2px solid var(--black-color);
        color: var(--black-color);
        p  {
            margin: 20px;
            font-size: 40px;
            color: var(--black-color);
        }
    }
    .password:hover {
        background-color: #cbcdcd;
    }
    .currentPassword {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, max-content);
        height: 140px;
        transition: var(--transition);
        background-color: #cbcdcd;
        border-bottom: 2px solid var(--black-color);
        p  {
            margin: 20px;
            font-size: 40px;
            color: var(--black-color);
        }
    }
}

@media(max-width: 768px) {
    .passwordListCartDark {
        width: 434px;
        .password {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, max-content);
            height: 140px;
            background-color: var(--background-color);
            transition: var(--transition);
            border-bottom: 2px solid var(--text-color);
            p  {
                margin: 20px;
                font-size: 40px;
            }
        }
        .password:hover {
            background-color: #76787a;
        }
        .currentPassword {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, max-content);
            height: 140px;
            transition: var(--transition);
            background-color: #76787a;
            border-bottom: 2px solid var(--text-color);
            p  {
                margin: 20px;
                font-size: 40px;
            }
        }
    }

    .passwordListCartLight {
        width: 434px;
        .password {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, max-content);
            height: 140px;
            transition: var(--transition);
            border-bottom: 2px solid var(--black-color);
            color: var(--black-color);
            p  {
                margin: 20px;
                font-size: 40px;
                color: var(--black-color);
            }
        }
        .password:hover {
            background-color: #cbcdcd;
        }
        .currentPassword {
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, max-content);
            height: 140px;
            transition: var(--transition);
            background-color: #cbcdcd;
            border-bottom: 2px solid var(--black-color);
            p  {
                margin: 20px;
                font-size: 40px;
                color: var(--black-color);
            }
        }
    }
}
