.passwordsListDark {
    border-right: 2px solid var(--text-color);
    height: 84.7vh;
    overflow-y: auto;
    .separator {
        border-top: 2px solid var(--text-color);
    }
}

.passwordsListLight {
    border-right: 2px solid var(--black-color);
    height: 84.7vh;
    overflow-y: auto;
    .separator {
        border-top: 2px solid var(--black-color);
    }
}


