.changePasswordParamButtonDark {
    button {
        width: 45px;
        height: 45px;
        border: 2px solid var(--text-color);
        background-color: var(--background-color);
        color: var(--text-color);
        border-radius: var(--radius);
        font-size: 20px;
        transition: var(--transition);
        margin-left: 500px;
    }
    button:hover {
        background-color: var(--hover-color);
        scale: var(--scale);
    }
}

.changePasswordParamButtonLight {
    button {
        width: 45px;
        height: 45px;
        border: 2px solid var(--black-color);
        background-color: var(--text-color);
        color: var(--black-color);
        border-radius: var(--radius);
        font-size: 20px;
        transition: var(--transition);
        margin-left: 500px;
    }
    button:hover {
        background-color: var(--hover-color);
        scale: var(--scale);
    }
}

@media(max-width: 768px) {
    .changePasswordParamButtonDark {
        button {
            width: 45px;
            height: 45px;
            border: 2px solid var(--text-color);
            background-color: var(--background-color);
            color: var(--text-color);
            border-radius: var(--radius);
            font-size: 20px;
            transition: var(--transition);
            margin-left: 50px;
        }
        button:hover {
            background-color: var(--hover-color);
            scale: var(--scale);
        }
    }

    .changePasswordParamButtonLight {
        button {
            width: 45px;
            height: 45px;
            border: 2px solid var(--black-color);
            background-color: var(--text-color);
            color: var(--black-color);
            border-radius: var(--radius);
            font-size: 20px;
            transition: var(--transition);
            margin-left: 50px;
        }
        button:hover {
            background-color: var(--hover-color);
            scale: var(--scale);
        }
    }

}
