.passwordInfoDark {
    height: 84vh;
    margin-left: 20px;
    .info {
        .mobile {
            display: none;
        }
        .loginPart {
            p {
                font-size: 40px;
            }
            border-bottom: 2px solid var(--text-color);
            .loginAndShowButton {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, max-content);
                .passwordP {
                    color: var(--hover-color);
                }
                .buttons {
                    display: grid;
                    grid-template-columns: 100px 100px;
                    position: fixed;
                }
            }
        }
        .passwordPart {
            p {
                font-size: 40px;
            }
            .passwordAndShowButton {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, max-content);
                .passwordP {
                    color: var(--hover-color);
                }
                .buttons {
                    display: grid;
                    grid-template-columns: 100px 100px;
                    position: fixed;
                }
            }
            border-bottom: 2px solid var(--text-color);
        }
    }
}

.passwordInfoLight {
    height: 85vh;
    margin-left: 20px;
    .info {
        .mobile {
            display: none;
        }
        .loginPart {
            p {
                font-size: 40px;
                color: var(--black-color);
            }
            border-bottom: 2px solid var(--black-color);
            .loginAndShowButton {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, max-content);
                .passwordP {
                    color: var(--black-color);
                }
                .buttons {
                    display: grid;
                    grid-template-columns: 100px 100px;
                    position: fixed;
                }
            }
        }
        .passwordPart {
            p {
                font-size: 40px;
                color: var(--black-color);
            }
            .passwordAndShowButton {
                display: grid;
                align-items: center;
                grid-template-columns: repeat(2, max-content);
                .passwordP {
                    color: var(--black-color);
                }
                .buttons {
                    display: grid;
                    grid-template-columns: 100px 100px;
                    position: fixed;
                }
            }
            border-bottom: 2px solid var(--black-color);
        }
    }
}

@media(max-width: 768px) {
    .passwordInfoDark {
        height: 85vh;
        margin-left: 20px;
        .info {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
            .loginPart {
                p {
                    font-size: 30px;
                }
                border-bottom: 2px solid var(--text-color);
                .loginAndShowButton {
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(2, max-content);
                    .passwordP {
                        color: var(--hover-color);
                    }
                    .buttons {
                        display: grid;
                        grid-template-columns: repeat(2, max-content);
                        position: fixed;
                    }
                }
            }
            .passwordPart {
                p {
                    font-size: 30px;
                }
                .passwordAndShowButton {
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(2, max-content);
                    .passwordP {
                        color: var(--hover-color);
                    }
                    .buttons {
                        display: grid;
                        grid-template-columns: 100px 100px;
                        position: fixed;
                    }
                }
                border-bottom: 2px solid var(--text-color);
            }
        }
    }

    .passwordInfoLight {
        height: 85vh;
        margin-left: 20px;
        .info {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
            .loginPart {
                p {
                    font-size: 40px;
                    color: var(--black-color);
                }
                border-bottom: 2px solid var(--black-color);
                .loginAndShowButton {
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(2, max-content);
                    .passwordP {
                        color: var(--black-color);
                    }
                    .buttons {
                        display: grid;
                        grid-template-columns: 100px 100px;
                        position: fixed;
                    }
                }
            }
            .passwordPart {
                p {
                    font-size: 40px;
                    color: var(--black-color);
                }
                .passwordAndShowButton {
                    display: grid;
                    align-items: center;
                    grid-template-columns: repeat(2, max-content);
                    .passwordP {
                        color: var(--black-color);
                    }
                    .buttons {
                        display: grid;
                        grid-template-columns: 100px 100px;
                        position: fixed;
                    }
                }
                border-bottom: 2px solid var(--black-color);
            }
        }
    }
}
