.passwordInfoMobileInterfaceDark {
    .loginP {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        p {
            font-size: 40px;
        }
        .buttons {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
    .passwordP {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        p {
            font-size: 40px;
        }
        .buttons {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
}

.passwordInfoMobileInterfaceLight {
    .loginP {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        p {
            font-size: 40px;
            color: var(--black-color);
        }
        .buttons {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
    .passwordP {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        p {
            font-size: 40px;
            color: var(--black-color);
        }
        .buttons {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
        }
    }
}