.noPasswordsWarningDark {
    text-align: center;
    p {
        font-size: 40px;
        color: var(--text-color);
    }
}

.noPasswordsWarningLight {
    text-align: center;
    p {
        font-size: 40px;
        color: var(--black-color);
    }
}
